html {
  overflow-x: hidden;
  
}

@media only screen and (min-width: 768px) {
  html {
    /* disable scrolling on desktop */
    overflow-y: hidden;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: #9fa1a4;
  line-height: 1.5;
}

a {
  color: #777;
  transition: 0.3s all ease;
}

a:hover {
  color: #000;
}

h1 {
  color: white;
  font-size: calc(3vw + 3vh + 1.5vmin);
}

.container {
  z-index: 2;
  position: relative;
}

.text-black {
  color: #000 !important;
}

.text-primary {
  color: #2d71a1 !important;
}

.border-top {
  border-top: 1px solid #f2f2f2 !important;
}

.border-bottom {
  border-bottom: 1px solid #f2f2f2 !important;
}

/*logo styling*/
#logo_img {
  width: 25%;
  height: 25%;
}
.logo {
  animation: slideFromLeft 1s 1;
}

/*logo animation */
@keyframes slideFromLeft {
  0% {
    transform: translate(-300%);
  }
  100% {
    transform: translate(0);
  }
}

/* Default btn sre-tyling */

.btn {
  border: none;
  padding: 15px 30px !important;
}

.btn.btn-outline-white {
  border: 2px solid #fff;
  background: none;
  color: #fff;
  animation: fadeIn 0.5s 1s 1 backwards;
}

.btn.btn-outline-white:hover {
  background: #fff;
  color: #2d71a1;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.btn.btn-primary {
  background: #2d71a1;
  background: linear-gradient(-45deg, #1391a5, #274685);
  color: #fff;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

.background {
  /*url(../img/new-bkg.jpg)*/
  background: #4c8f2d;
}
/*#4C8F2D*/

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  justify-content:center;
  align-items:center;
}

#overlay_logo{
  /*position: absolute;
  top: 50%;
  left: 50%;*/
  height: 15%;
  width: 15%;
  /*transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);*/
  animation: spinner 0.5s infinite;
}

@keyframes spinner{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(359deg);
  }
}

#videoElement {
  display: block;
  width: 75%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    border: 15px solid rgba(255, 255, 255, 0.5);
  }
  100% {
    border: 15px solid rgba(255, 255, 255, 1);
  }
}

.img-resize {
  max-width: 100%;
  animation: slideFromRight 1s 1;
}
@keyframes slideFromRight {
  0% {
    transform: translate(300%);
  }
  100% {
    transform: translate(0%);
  }
}

button {
  margin: auto;
  display: block;
}
