{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>

{% block "header" %}
<link href="{% static 'css/style2.css' %}" rel="stylesheet">
<style>
  a:hover, a:visited, a:link, a:active
  {
      color: black;
      text-decoration: none;
  }
</style>
{% endblock %}

{% block "content" %}

<body class="background">
<a href="/">
<section class="performance-facts" style="background: white; margin: 0 auto;">
  <header class="performance-facts__header">
    <h1 class="performance-facts__title" style="font-weight: bold">Nutrition Facts</h1>
      <p>{{ food }}</p>
      <p>Serving Size {{ servingSize }}{{ servingSizeUnit }}</p>

  </header>
  <table class="performance-facts__table">
    <thead>
      <tr>
        <th colspan="3" class="small-info">
          Amount Per Serving
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="2">
          <b>Calories</b>
          {{ info.calories.value|floatformat:"0" }}
        </th>
        <td>
          <!--Calories from Fat -->
        </td>
      </tr>
      <tr class="thick-row">
        <td colspan="3" class="small-info">
            <p class="text-right"><b>% Daily Value*</b></p>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Total Fat</b>
          {% if info.fat.value %}{{ info.fat.value|floatformat:'0'}}{% else %}0{% endif %}g
        </th>
        <td>
          <script>
            function divide(){
              var x = "{% if info.fat.value %}{{ info.fat.value|floatformat:'0'}}{% else %}0{% endif %}";
              x = x / 65;
              x = x * 100;
              return Math.round(x);
            }
              document.write("<b>" + divide() + "%</b>" );
          </script>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Saturated Fat
          {% if info.saturated.value %}{{ info.saturated.value|floatformat:'0'}}{% else %}0{% endif %}g
        </th>
        <td>
          <script>
            function divide(){
              var x = "{% if info.saturatedfat.value|floatformat:'0' %}{{ info.saturatedFat.value|floatformat:'0'}}{% else %}0{% endif %}";
              x = x / 20;
              x = x * 100;
              return Math.round(x);
            }
              document.write("<b>" + divide() + "%</b>" );
          </script>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          <b>Trans Fat</b>
          {% if info.transFat.value %}{{ info.transFat.value|floatformat:'0'}}{% else %}0{% endif %} g
        </th>
        <td>
          <script>
            function divide(){
              var x = "{% if info.transFat.value %}{{ info.transFat.value|floatformat:'0'}}{% else %}0{% endif %}";
              x = x / 6;
              x = x * 100;
              return Math.round(x);
            }
              document.write("<b>" + divide() + "%</b>" );
          </script>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Cholesterol</b>
          {% if info.cholesterol.value %}{{ info.cholesterol.value|floatformat:'0'}}{% else %}0{% endif %}mg
        </th>
        <td>
          <script>
            function divide(){
              var x = "{% if info.cholesterol.value %}{{ info.cholesterol.value|floatformat:'0'}}{% else %}0{% endif %}";
              x = x / 300;
              x = x * 100;
              return Math.round(x);
            }
              document.write("<b>" + divide() + "%</b>" );
          </script>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Sodium</b>
          {% if info.sodium.value %}{{ info.sodium.value|floatformat:'0'}}{% else %}0{% endif %}mg
        </th>
        <td>
          <script>
            function divide(){
              var x = "{% if info.sodium.value %}{{ info.sodium.value|floatformat:'0'}}{% else %}0{% endif %}";
              x = x / 2400;
              x = x * 100;
              return Math.round(x);
            }
              document.write("<b>" + divide() + "%</b>" );
          </script>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Total Carbohydrate</b>
          {% if info.carbohydrates.value %}{{ info.carbohydrates.value|floatformat:'0'}}{% else %}0{% endif %}g
        </th>
        <td>
          <script>
            function divide(){
              var x = "{% if info.carbohydrates.value %}{{ info.carbohydrates.value|floatformat:'0'}}{% else %}0{% endif %}";
              x = x / 300;
              x = x * 100;
              return Math.round(x);
            }
              document.write("<b>" + divide() + "%</b>" );
          </script>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Dietary Fiber
          {% if info.fiber.value %}{{ info.fiber.value|floatformat:'0'}}{% else %}0{% endif %}g
        </th>
        <td>
          <script>
            function divide(){
              var x = "{% if info.fiber.value %}{{ info.fiber.value|floatformat:'0'}}{% else %}0{% endif %}";
              x = x / 25;
              x = x * 100;
              return Math.round(x);
            }
              document.write("<b>" + divide() + "%</b>" );
          </script>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Sugars
          {% if info.sugars.value %}{{ info.sugars.value|floatformat:'0'}}{% else %}0{% endif %}g
        </th>
        <td>
        </td>
      </tr>
      <tr class="thick-end">
        <th colspan="2">
          <b>Protein</b>
          {% if info.protein.value %}{{ info.protein.value|floatformat:'0'}}{% else %}0{% endif %}g
        </th>
        <td>
        </td>
      </tr>
    </tbody>
  </table>



  <p class="small-info">* Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs:</p>

  <table class="performance-facts__table--small small-info">
    <thead>
      <tr>
        <td colspan="2"></td>
        <th>Calories:</th>
        <th>2,000</th>
        <th>2,500</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="2">Total Fat</th>
        <td>Less than</td>
        <td>65g</td>
        <td>80g</td>
      </tr>
      <tr>
        <td class="blank-cell"></td>
        <th>Saturated Fat</th>
        <td>Less than</td>
        <td>20g</td>
        <td>25g</td>
      </tr>
      <tr>
        <th colspan="2">Cholesterol</th>
        <td>Less than</td>
        <td>300mg</td>
        <td>300 mg</td>
      </tr>
      <tr>
        <th colspan="2">Sodium</th>
        <td>Less than</td>
        <td>2,400mg</td>
        <td>2,400mg</td>
      </tr>
      <tr>
        <th colspan="3">Total Carbohydrate</th>
        <td>300g</td>
        <td>375g</td>
      </tr>
      <tr>
        <td class="blank-cell"></td>
        <th colspan="2">Dietary Fiber</th>
        <td>25g</td>
        <td>30g</td>
      </tr>
    </tbody>
  </table>

  <p class="small-info">
    Calories per gram:
  </p>
  <p class="small-info text-center">
    Fat 9
    &bull;
    Carbohydrate 4
    &bull;
    Protein 4
  </p>

</section>
</a>

{% endblock %}
