{% extends "base.html" %}

{% block "content" %}
<body class="background">
    <div class="container">
        <div id="overlay">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="750" height="1000" viewBox="0, 0, 750, 1000" id="overlay_logo">
                <g id="Layer_1">
                  <path d="M376.636,4.109 C580.008,4.109 743.236,424.284 743.236,627.655 C743.236,831.026 578.371,995.891 375,995.891 C171.629,995.891 6.764,831.026 6.764,627.655 C6.764,424.284 173.266,4.109 376.637,4.109 z M710.706,498.747 L708.192,501.586 C708.347,565.19 684.892,634.734 643.051,684.628 C581.709,757.776 402.885,815.087 371.867,869.995 C338.379,929.276 395.712,963.48 449.891,957.245 C651.576,934.034 770.148,683.057 710.706,498.747 z M363.144,69.553 C275.569,69.798 219.846,120.453 172.875,189.812 C106.763,287.435 71.483,402.955 44.49,516.653 L44.491,516.674 C90.36,390.535 229.236,289.637 334.105,215.84 C359.58,197.913 460.827,79.59 372.279,70.269 L363.144,69.553 z" fill="#FFFFFF"/>
                </g>
            </svg>
        </div> 
        <div class="text-center" style="margin-top: 1vw;">
            <h1>Tap to Scan</h1>
            <br />
        </div>
        <div style="margin: 0 auto;">
            <a onClick="takeASnap(); on();" href="#"><video id="videoElement" autoplay playsinline></video></a>
            <form action="/analysis" method="post" id="form">
                {% csrf_token %}
                <input type="hidden" name="blob" id="blob" value="">
            </form>
        </div>
    </div>
</body>
{% endblock %}

{% block "footer" %}
  <script>
    var vid = document.querySelector("#videoElement");
    var constraints = {
         audio: false,
         video: {
             facingMode: 'environment'
         }
    }

    navigator.mediaDevices.getUserMedia(constraints).then(function success(stream) {
        vid.srcObject = stream;
    });

      
    function dataURItoBlob(dataURI) {
        // convert base64 to raw binary data held in a string
        var byteString = atob(dataURI.split(',')[1]);

        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        // write the bytes of the string to an ArrayBuffer
        var arrayBuffer = new ArrayBuffer(byteString.length);
        var _ia = new Uint8Array(arrayBuffer);
        for (var i = 0; i < byteString.length; i++) {
            _ia[i] = byteString.charCodeAt(i);
        }

        var dataView = new DataView(arrayBuffer);
        var blob = new Blob([dataView], { type: mimeString });
        return blob;
    }

    function takeASnap() {
      var canvas = document.createElement('canvas'); // create a canvas
      var ctx = canvas.getContext('2d'); // get its context
      canvas.width = vid.videoWidth; // set its size to the one of the video
      canvas.height = vid.videoHeight;
      ctx.drawImage(vid, 0,0); // the video
      var dataURL = canvas.toDataURL();
      $("#blob").val(dataURL);
      $("#form").submit();
    }

    function on() {
        document.getElementById("overlay").style.display = "flex";
    }  
  </script>
{% endblock %}