{% extends "base.html" %}
{% load static %}

{% block "content" %}
  <body class="background vertical-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <h1>NutriView</h1>
          <p><a href="/snap" class="btn btn-outline-white">Get started</a></p>
        </div>
        <div class="col-sm-6">
          <img class="img-resize" src="{% static 'img/food.png' %}" />
        </div>
      </div>
    </div>
{% endblock %}